<section class="section5">
  <div class="gallery-container">
    <h4>الإنجازات</h4>
    <h5>صور و الأثر يتحدث</h5>
    <p>
      هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ
      عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي
      يقرأها.
    </p>

    <div class="images-content">
      <div class="gallery-image-content">
        <img
          src="assets/img/i1.png"
        />
        <p>التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات التي يقرأه</p>
      </div>
      <div class="gallery-image-content">
        <img
          src="assets/img/i2.png"
        />
        <p>التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات التي يقرأه</p>
      </div>
    </div>
  </div>
</section>
