<section class="section5">
  <div class="gallery-container">
    <h3><b>الإنجازات</b></h3>
    <h5>صور و الأثر يتحدث</h5>
    <p>
      هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ
      .عن التركيز على الشكل
    </p>

    <div class="images-content">
      <div class="gallery-image-content">
        <img class="ach-card-style"
          src="assets/img/i2.png"
        />
        <p>التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات التي يقرأه</p>
      </div>
      <div class="gallery-image-content">
        <img class="ach-card-style"
          src="assets/img/i1.png"
        />
        <p>التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات التي يقرأه</p>
      </div>
    </div>
  </div>
</section>
