<section class="advantage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 mt-5 mb-5">
        <div class="section1">
          <h1 class="title">المزايا و الأهداف</h1>
          <div class="row customCard">
            <div class="col-md-5 col-sm-6 item">
              <div class="card item-card card-block">
                <img
                  class="text-right"
                  src="assets/img/card2.png"
                  alt="Photo of sunset"
                />
                <h5 class="item-card-title mt-3 mb-3 text-right">فرص</h5>
                <p class="card-text text-right">
                  كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس
                  عشر عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي
                  أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه
                  الأحرف.
                </p>
              </div>
            </div>
            <div class="col-md-5 col-sm-6 item">
              <div class="card item-card card-block">
                <img
                  class="text-right"
                  src="assets/img/card1.png"
                  alt="Photo of sunset"
                />
                <h5 class="item-card-title mt-3 mb-3 text-right">مبادرات</h5>
                <p class="card-text text-right">
                  كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس
                  عشر عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي
                  أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه
                  الأحرف.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
