<div id="carouselExampleIndicators" class="carousel slide banner" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div
      class="carousel-item active"
      style="
        background-image: url('assets/img/carousel1.png');
      "
    >
      <div class="carousel-caption d-md-block">
        <h2 class="display-4">منصة الاختبار انوسوفت</h2>
        <p class="lead">
          لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل
          وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر.
        </p>
        <button type="button" class="btn btn-primary">التسجيل في المنصة</button>
      </div>
    </div>
  </div>
</div>
