<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" style="background-image: url('assets/img/carousel1.png')">
        <div class="carousel-caption  d-md-block">
          <h2 class="display-4">منصة الاختبار انوسوفت</h2>
          <p class="lead" dir="rtl">لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى)
            ويُستخدم في صناعات المطابع ودور النشر.</p>
          <button type="button" class="btn btn-primary">التسجيل في المنصة</button>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('https://source.unsplash.com/LAaSoL0LrYs/1920x1080')">
        <div class="carousel-caption d-md-block">
          <h2 class="display-4">منصة الاختبار انوسوفت</h2>
          <p class="lead" dir="rtl">لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى)
            ويُستخدم في صناعات المطابع ودور النشر.</p>
          <button type="button" class="btn btn-primary">التسجيل في المنصة</button>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('https://source.unsplash.com/szFUQoyvrxM/1920x1080')">
        <div class="carousel-caption d-md-block">
          <h2 class="display-4">منصة الاختبار انوسوفت</h2>
          <p class="lead" dir="rtl">لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى)
            ويُستخدم في صناعات المطابع ودور النشر.</p>
          <button type="button" class="btn btn-primary">التسجيل في المنصة</button>
        </div>
      </div>
    </div>
  </div>
