<div class="details-card">
  <img style="width: 310px" [src]="cardContent.src" />
  <div class="details-card-content">
    <p>{{ cardContent.title }}</p>
    <p>{{ cardContent.content }}</p>
    <div class="details-one-liner">
      الدمام<img
        style="width: 14px; margin-left: 6px"
        src="assets/img/pin.svg"
      />
    </div>
    <div class="details-two-liner">
      <div style="margin: 0 30px">
        مجال فني<img
          style="width: 14px; margin-left: 6px"
          src="assets/img/pin.svg"
        />
      </div>
      <div>
        ١٢ يناير ٢٠٢١<img
          style="width: 14px; margin-left: 6px"
          src="assets/img/pin.svg"
        />
      </div>
    </div>
    <div></div>
  </div>
</div>
