<section class="section6">
  <div class="stack-container">
    <h4 style="font-weight: 500; font-size: 30px">الشراكات</h4>
    <div class="stack-content-container">
      <div class="stack-item">
        <div class="stack-circle">
          <img style="width: 60px" src="assets/img/angular.png" />
        </div>
        <div class=""><p>Angular</p></div>
      </div>
      <div class="stack-item">
        <div class="stack-circle">
          <img style="width: 60px" src="assets/img/html.png" />
        </div>
        <div class=""><p>HTML</p></div>
      </div>
      <div class="stack-item">
        <div class="stack-circle">
          <img style="width: 60px" src="assets/img/js.png" />
        </div>
        <div class=""><p>JavaScript</p></div>
      </div>
      <div class="stack-item">
        <div class="stack-circle">
          <img style="width: 48px" src="assets/img/css3.png" />
        </div>
        <div class=""><p>CSS3</p></div>
      </div>
      <div class="stack-item">
        <div class="stack-circle">
          <img style="width: 60px" src="assets/img/react.png" />
        </div>
        <div class=""><p>React</p></div>
      </div>
    </div>
  </div>
</section>
